<div class="card mt-5">
    <div class="card-body">
        <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
            <!-- TO UPDATE -->
            <input type="hidden" name="id" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.id">

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="fullname"
                #name="ngModel"
                [(ngModel)]="employeeService.selectedEmployee.fullname"
                placeholder="Fullname"
                >
            </div>
            <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="function_name"
                  #category="ngModel"
                  [(ngModel)]="employeeService.selectedEmployee.function_name"
                  placeholder="Function"
                  >
              </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">
                  <i class="fas fa-plus-circle"></i> Add A Employee
              </button>
              <button class="btn btn-secondary" type="reset" (click)="resetForm(employeeForm)">
                  <i class="fas fa-sync-alt"></i> Reset
              </button>
            </div>
          </form>
    </div>
  </div>