<div class="card mt-5">
  <div class="card-body">
    <h6 class="text-center">
      List of Employees
    </h6>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Employee Fullname</th>
          <th>Employee Function</th>
          <th>Employee Boss</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.fullname}}</td>
          <td>{{employee.function_name}}</td>
          <td>{{employee.boss_name}}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(employee)">
                <i class="far fa-edit"></i>
            </a>
            <a class="btn btn-danger text-white" (click)="onDelete(employee.id)">
                <i class="far fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>