<div class="container">
    <div class="row">
      <div class="col-md-5">
        <app-employee></app-employee>
      </div>
      <div class="col-md-7 text-center">
          <app-employee-list></app-employee-list>
        </div>
    </div>
</div>